/**
 * Default variables
 */
/**
 * Space between columns
 */

$grid-gutter: 21px !default;


/**
 * Max width of container
 */

$grid-max-width: 1700px + ($grid-gutter * 2) !default;


/**
 * Number of total columns
 */

$grid-columns: 24 !default;


/**
 * Breakpoints
 */

$breakpoint-lg: 992px !default;
$breakpoint-md: 768px !default;
$breakpoint-sm: 480px !default;

$breakpoints: (
    'lg' '(min-width: ' + $breakpoint-lg + ')',
    'md' '(min-width: ' + $breakpoint-md + ') and (max-width: ' + ($breakpoint-lg - 1) + ')',
    'sm' '(max-width:'  + ($breakpoint-md - 1) + ')',
    'xs' '(max-width: ' + $breakpoint-sm + ')'
) !default;

/**
 * Helper mixins
 */


/**
 * Grid loop mixin
 */

@mixin grid-loop($name){
    @for $i from 0 through $grid-columns {
        @if $i != 0 {
            .col--#{$name}-#{$i} {
                width: percentage($i/$grid-columns);
            }
        }
        .col--#{$name}-offset-#{$i} {
            margin-left: percentage($i/$grid-columns);
        }
    }
}


/**
 * Clearfix
 */

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}



/**
 * Grid scaffolding
 */

.container {
    @include clearfix;
    max-width: $grid-max-width;
    margin: 0 auto;
    padding: 0 $grid-gutter;
}

.row {
    @include clearfix;
    list-style: none;
    margin-left: -$grid-gutter;
    &.row--gutterless {
        margin-left: 0;
    }
}

.col {
    float: left;
    padding-left: $grid-gutter;
    box-sizing: border-box;
    .row--gutterless & {
        padding-left: 0;
    }
}



/**
 * Columns generator
 */

@each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @media only screen and #{$declaration} {
        @include grid-loop($name);
    }
}
